.idea
working
chef/.kitchen
chef/aws.json
atlassian-ide-plugin.xml
.virtualenv
__pycache__
*.pyc
.coverage
.coverage.*
Distutils.egg-info
*.log
*.tmp
tags
*.html
.DS_Store
htmlcov
_build

tests/unit/reports/
config/local.conf

copyright_hub_transformation_service.egg-info

node_modules
